extends layout

block content

  h1 Books
  form.search(action='/books' method='get')
    input#search(type='text' name='search' placeholder='Search for a book...')
    input.button(type='submit' value='search')
    if search 
      a.button(href='/') Show All
  p
    a.button(href='/books/new') Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in allBooks
        tr
          td 
            a(href=`/books/${book.id}`) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.year}